// _footer.scss
footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fd0000;
    text-decoration: none;
}

footer .redes-sociales {
    margin-top: 1rem;
}

.redes-sociales i {
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.redes-sociales i:hover {
    color: #fd0000;
}
